.view{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgb(115 103 240 / 40%);
    transition: all 0.2s;
}

.notChecked{
    border: 1px solid;
    border-color: #404656;
    background-color: #283046;
}

.checked{
    background-color: #7367f0;
    border-color: #7367f0;
    background-image: url("data:image/svg+xml;charset=utf8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3e%3cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 65%
}